/* Global styles */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Header styles */
.header {
  background-color: #ddd;
  padding: 20px;
}

.header__container {
  display: flex;
  justify-content: center;
}

.header__logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Main content styles */
.main {
  background-color: #fff;
  padding: 20px;
}

.main__container {
  max-width: 800px;
  margin: 0 auto;
}

.bio {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.bio__image {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.bio__content {
  text-align: left;
  padding: 1rem;
}

.posts__title {
  font-size: 32px;
 }
 
.posts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.posts__link {
  display: flex;
  flex-direction: column;
  color: #333;
  text-decoration: none;
}

.posts__date {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.posts__heading {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.posts__excerpt {
  font-size: 16px;
  margin: 10px 0 0;
}

/* Footer styles */
.footer {
  background-color: #ddd;
  padding: 20px;
  margin-top: 20px;
}

.footer__container {
  display: flex;
  justify-content: center;
}

.footer__copy {
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}
